@use "../abstracts/variables" as v;

* {
    font-family: v.$font-popin;
}

h1,
h2,
h3 {
    font-weight: v.$fw-bold;
}

h1 {
    font-size: v.$fs-h1;
}

h2 {
    font-size: v.$fs-h2;
}
h3{
    font-size: v.$fs-h3;
}