@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

.btn {
    font-size: v.$fs-body;
    font-weight: v.$fw-semibold;
    line-height: 150%;
    @apply flex justify-center items-center px-5 py-[10px];
}

.btn--primary {
    background-color: v.$color-regular;
    color: v.$tc-white;
    @apply transition-opacity duration-300 hover:opacity-80;
}

.btn--outline {
    border: 1px solid v.$color-regular;
    color: v.$color-regular;
    @apply transition-colors duration-300 hover:bg-primary hover:text-white;
}