// font-family
$font-popin: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
// font size
$fs-h1: 48px;
$fs-h2: 40px;
$fs-h3: 24px;
$fs-body: 16px;
$fs-small: 14px;

// font weight
$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;

// text color
$tc-body: rgba(137, 137, 137, 1);
$tc-body--dark:rgba(0, 0, 0, 1);
$tc-title: rgba(51, 51, 51, 1);
$tc-white: rgba(255, 255, 255, 1);

// color
$color-badge: rgba(233, 113, 113, 1);
$color-badge--new: rgba(46, 193, 172, 1);
$color-regular: rgba(184, 142, 47, 1);

// background color
$bg-regular: rgba(249, 241, 231, 1);
$bg-card: rgba(244, 245, 247, 1);